<div id="masthead">
  <div class="container">
      <div class="row">
        <div class="">
          <h1>Welcome to GameView
            <p class="lead"><%= current_user.email %></p>
          </h1>
        </div>

  </div><!--/container-->
</div><!--/masthead-->
<!--main-->
   <div class="container">
     <div class="row">

       <br></br>

       <br></br>

         <div class="">
           <div class="row">
             <div class="col-md-8">
               <div class="panel panel-default">
                 <div class="panel-heading"><h3><%= link_to 'My Games', games_path %></h3></div>
                 <div class="panel-body">

                    <%= render :partial => 'games/list_games', locals: {games: current_user.games}  %>
                    <br></br>
                    <%= link_to "[Add Game]", new_game_path %>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading"><h3>GameView Level</h3></div>
                  <div class="panel-body">
                    <%= image_tag(current_user.avatar.url(:thumb)) %>
                    <h3><%= current_user.level %>
                    <br></br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <br></br>

            <br></br>
            <div class="panel panel-default">
              <div class="panel-heading"><h3>My Reviews</h3></div>
                <div class="panel-body">
            <p>
                <%= render :partial => 'reviews/list_reviews'%>
                <br></br>
            </p>

            <br></br>
            </div>
          </div>

           </div><!--/right-->
     	</div><!--/row-->
   </div><!--/container-->
