
  <h1 class="userEmail"><%= @user.email %>'s Profile:</h1>
  <hr>
    <div id="user-<%= @user.id %>">
      <img class="userAvatar" src="<%= @user.avatar_url %>" >
      <h4>Gameview Level:<class="userLevel"><% @user.level %>
    </div>

  <br>
  <hr>
    <h3 class="text-center"><a href="#" class="js-previous-user" data-id="<%= @user.id %>">Previous User</a> | <%= link_to 'Back', users_index_path %> | <a href="#" class="js-next-user" data-id="<%= @user.id %>">Next User</a></h3>
