    <% if @user.reviews.empty? %>
    <h2 class="userEmail"><%= @user.email %> doesn't have any reviews!</h2>
    <% else %>
  <h1 class="userEmail"><%= @user.email %>'s Reviews:</h1>
  <hr>
  <hr>
    <div id="user-<%= @user.id %>">
      <div id="review">
        <div class="userReviews"><% @reviews.each do |r| %>
          <h2 class="reviewTitle"><strong><%= r.title %></strong></h2>
          <h4 class="gameTitle"><em><%= r.game.title %></em></h4>
          <h3 class="reviewContent"><%= r.content %></h3>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <br>
  <hr>
    <h3 class="text-center"><a href="#" class="js-previous-user" data-id="<%= @user.id %>">Previous User</a> | <%= link_to 'Back', users_index_path %> | <a href="#" class="js-next-user" data-id="<%= @user.id %>">Next User</a></h3>
