<%= form_for @game do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="actions">
      <p><%= f.label :title %>
         <%= f.text_field :title %><p/>
      <p><%= f.label :platform %>
          <%= f.text_field :platform %><p/>
          Additional Details:
      <ul>
        <%= f.fields_for :game_attributes do |attributes_form| %>
          <li>
            <%= attributes_form.label :genre %>
            <%= attributes_form.text_field :genre %>

            <%= attributes_form.label :esrb_rating %>
            <%= attributes_form.text_field :esrb_rating %>

            <%= attributes_form.label :multiplayer %>
            <%= attributes_form.select :multiplayer, [['Yes', true], ['No', false]] %>
            
          </li>
        <% end %>
      </ul>
    <% end %>

  </div>
<% end %>
