<%= form_with(model: game, local: true) do |f| %>

    <div class="actions">
      <p><%= f.label :title %>
         <%= f.text_field :title %></p>
      <p><%= f.label :developer %>
          <%= f.text_field :developer %></p>
            <%= f.label :genre %>
            <%= f.text_field :genre %>

            <%= f.label :esrb_rating %>
            <%= f.text_field :esrb_rating %>

            <%= f.label :multiplayer %>
            <%= f.select :multiplayer, [['Yes', true], ['No', false]] %></p>

        <%= f.submit %>

    <% end %>

  </div>
