<% if games.empty? %>
<%= "You don't have any games to display. To get started, add a video game you own. You can set the status to new, playing, or beat. You can also review it. The more reviews you make, the higher your GameView Level will be!" %>
<% else %>
<% games.each do |game|%>

  <h4><strong><%= link_to game.title, game %></strong></h4>
  <br>
    <div id="details-<%= game.id %>">
      <p><em><%= truncate game.details %></em></p>
    </div>
    <br>
    <button id="<%= game.id %>" class="js-game-more" data-id="<% game.id %>">Show Details...</button>
    <br>
    <br>

  <% end %>

<% end %>
