<p id="notice"><%= notice %></p>

<div id='game'>
  <h3 class="gameTitle"><%= @game.title %></h3>
    <br>
    <p><strong>Developer:</strong><div class="gameDeveloper"><%= @game.developer %></p></div>
    <br>
    <p><strong>Genre: </strong><div class="gameGenre"><%= @game.genre%></p></div>
    <br>
    <p><strong>ESRB Rating: </strong><div class="gameRating"><%= @game.esrb_rating%></p></div>
    <br>
    <p><strong>Players: </strong><div class="gamePlayers"><%= @game.is_multiplayer?%></p></div>
    <br>

    <%= form_for(@game) do |f| %>
     <p><%= f.label :status %>
        <%= f.select :status,[['New', 'new'], ['Playing', 'playing'], ['Beat', 'beat'],]  %></p>
        <%= f.submit value="Update Status"%>
       <% end %>
     <br>
</div>

   <%= link_to "Load Review", game_review_path(@game), :class => "load_reviews" %>
   <div class="reviews">
     <h2 class="reviewTitle"></h2>
     <h4 class="reviewContent"></h4>
   </div>

<div id="links">
   <h5><%= link_to 'Review Game', new_game_review_path(@game) %></h5>
   <br>
   <%= link_to 'Back', home_path %> |
   <%= link_to 'Edit', edit_game_path(@game) %> |
   <%= link_to 'Delete', @game, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <br>

  <%= link_to 'Back', games_path %>
</div>
