<p id="notice"><%= notice %></p>

<<<<<<< HEAD
<h3><%= @game.title %></h3>
  <p><strong>Developer: </strong><%= @game.developer %></p>
    <p><strong>Genre: </strong><%= @game.genre%></p>
    <p><strong>ESRB Rating: </strong><%= @game.esrb_rating%></p>
    <p><strong>Players: </strong><%= @game.is_multiplayer?%></p>

  <%= form_for(@game) do |f| %>
    <p><%= f.label :status %>
       <%= f.select :status,[['New', 'new'], ['Playing', 'playing'], ['Beat', 'beat'],]  %></p>
       <%= f.submit value="Update Status"%>
      <% end %>
=======
<div id='game'>
  <h3 class="gameTitle"><%= @game.title %></h3>
    <br>
    <div id="gameDetails"
    <p><strong>Developer:</strong><div class="gameDeveloper"><%= @game.developer %></p></div>
    <br>
    <p><strong>Genre: </strong><div class="gameGenre"><%= @game.genre%></p></div>
    <br>
    <p><strong>ESRB Rating: </strong><div class="gameRating"><%= @game.esrb_rating%></p></div>
>>>>>>> final-touches
    <br>
    <p><strong>Players: </strong><div class="gamePlayers"><%= @game.is_multiplayer?%></p></div>
    <br>
  </div>
    <%= form_for(@game) do |f| %>
     <p><%= f.label :status %>
        <%= f.select :status,[['New', 'new'], ['Playing', 'playing'], ['Beat', 'beat'],]  %></p>
        <%= f.submit value="Update Status"%>
       <% end %>
     <br>
</div>

   <h5><%= link_to 'Review Game', new_game_review_path(@game), :class => 'review_game' %></h5>
   <div class="newReview"></div>


   <div id="links">
   <br>
   <%= link_to 'Back', home_path %> |
   <%= link_to 'Edit', edit_game_path(@game) %> |
   <%= link_to 'Delete', @game, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <br>

<<<<<<< HEAD
  <h4><%= link_to 'Review Game', new_game_review_path(@game) %></h4>
  <br>
  <%= link_to 'Back', home_path %> |
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Delete', @game, method: :delete, data: { confirm: 'Are you sure?' } %></p>
=======
  <%= link_to 'Back', games_path %>
</div>
>>>>>>> final-touches
