<p id="notice"><%= notice %></p>

  <div id='game'>
    <h3 class="gameTitle"><%= @game.title %></h3>
      <br>
      <div id="gameDetails"
        <p><strong>Developer:</strong><div class="gameDeveloper"><%= @game.developer %></p></div>
        <br>
        <p><strong>Genre: </strong><div class="gameGenre"><%= @game.genre%></p></div>
        <br>
        <p><strong>ESRB Rating: </strong><div class="gameRating"><%= @game.esrb_rating%></p></div>
        <br>
        <p><strong>Players: </strong><div class="gamePlayers"><%= @game.is_multiplayer?%></p></div>
        <br>
      </div>

      <%= form_for(@game) do |f| %>
       <p><%= f.label :status %>
          <%= f.select :status,[['New', 'new'], ['Playing', 'playing'], ['Beat', 'beat'],]  %></p>
          <%= f.submit value="Update Status"%>
         <% end %>
       <br>
  </div>

  <div id='reviews'>
    <% if @game.reviews.count === 0 %>
    <h1>You haven't yet reviewed this game.</h1>
    <% else %>
    <button class="load-reviews" data-id="<%= @game.id %>">Load Reviews...</button>
    <% end %>
  </div>

  <br>

  <div id='reviewGame'>

    <h5><strong>Write a Review for this Game:</strong></h5>

   <%= render :partial => 'reviews/form', locals: { review: @game.reviews.build, game: @game } %>

 </div>

   <div id="links">
     <br>
     <%= link_to 'Back', home_path %> |
     <%= link_to 'Edit', edit_game_path(@game) %> |
     <%= link_to 'Delete', @game, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <br>

    <%= link_to 'Back', games_path %>
  </div>
