<p id="notice"><%= notice %></p>

<h1>Welcome to GameView!</h1>
<p><em>Catalog the video games you own, review them, and more!</em></p>
<br></br>

  <div class="col-md-2">

  </div>

  <div class="col-md-6">
    <img src="reflection-pad-gaming-gamepad.jpg" width="400" height="80" class="img-responsive">
  </div>

  <div class="user col-md-4 text-left">
      <div id="login" class="">

        <h4>Log In</h4>

        <%= render :partial => 'devise/sessions/login' %>

        <p class="login__signup">Don't have an account? &nbsp;<a href="javascript:void(0)" id="showSignUp"><strong>Sign up</strong></a></p>
        <p><em><%= link_to "Or Sign in with Facebook", omniauth_authorize_path(resource_name, :facebook) %></strong></em><br /></p>
      </div>

      <div id="signup" class="hidden">

        <h4>Create a New Account</h4>

        <%= render :partial => 'devise/registrations/new' %>

        <p class="login__signin">Already have an account? &nbsp;<a href="javascript:void(0)" id="showLogIn"><strong>Log In</strong></a></p>
        <p><em><%= link_to "Or Sign in with Facebook", omniauth_authorize_path(resource_name, :facebook) %></em><br /></p>
      </div>

    </div>
