<%= form_for([@game, Review.new]) do |f| %>

  <div class="actions">
    <p><%= f.label :title %>
       <%= f.text_field :title %></p>
    <p><%= f.label :content %>
        <%= f.text_area :content %></p>
    <%= f.submit %>
  </div>
<% end %>
