<p id="notice"><%= notice %></p>

<h1 class="reviewTitle"><%= @review.title %></h1>
<h2 class="gameTitle"><%= @game.title %></h2>
<h3 class="reviewContent"><%= @review.content %></h3>

<br>

<em><%= link_to "Load Game Details", game_path(@game), :class => "load_game" %></em>
<div class="gameShow">

</div>

<br>
<hr>


<%= link_to 'Edit', edit_game_review_path(@review.game, @review) %> |
<%= link_to 'Delete', delete_review_path(@review.game, @review), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', home_path %>
