<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GameView</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="text-center">

        <% if current_page?(root_path) %>
          <%= render 'layouts/home_header' %>
        <% else %>
          <%= render 'layouts/header' %>
        <% end %>

        <br> <br />

        <%= yield %>

        <br> </br>

        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <% flash.each do |type, msg| %>
              <% if type == "notice" %>
                <div class="alert alert-success">
              <% elsif type == "alert" %>
                <div class="alert alert-danger">
              <% else %>
                <div class='alert alert-<%= "#{type}" %>'>
              <% end %>
              <a href="#" class="close" data-dismiss="alert">&#215;</a>
              <ul>
                <li>
                  <%= msg %>
                </li>
              </ul>
            <% end %>
          </div>
      </div>
      </div>

    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
