<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GameView</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="text-center">

        <% if current_page?(root_path) %>
          <%= render 'layouts/home_header' %>
        <% else %>
          <%= render 'layouts/header' %>
        <% end %>

        <%= render "layouts/flash" unless @disable_flash %>

        <br> <br />


        <%= yield %>

        <br> </br>


      </div>
      </div>

    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
